<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>Address List</h1>
    </div>
    <div class="col-md-4">
      <div class="input-group">
        <input type="text" class="form-control" [(ngModel)]="searchTerm" placeholder="Search" name="search-term" id="search-term">
        <div class="input-group-btn">
          <button class="btn btn-default" type="button" (click)="searchAddr()">
            <i class="fa fa-search"></i>
          </button>
          <button class="btn btn-info reset-search-btn" type="button" (click)="resetSearch()">Reset</button>
        </div>
      </div>
    </div>
  </div>

  <app-addr-list [addressList]="addressList"></app-addr-list>

  <app-addr-form (addAddress)="addAddress($event)"></app-addr-form>

</div>
