<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mobile-nav" aria-expanded="false">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a routerLink="/home" class="logo-link">
        <img src="../assets/img/logo.jpg" alt="Logo" class="img-responsive img-circle logo-img">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="mobile-nav">
      <ul class="nav navbar-nav" id="page-link">
        <li>
          <a routerLink="/home" routerLinkActive="active-link">Home</a>
        </li>
        <li>
          <a routerLink="/address" routerLinkActive="active-link">Address</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>


